.header-container{  
  height: 80px;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-weight: 600;
  padding: 0 18px;
  h1{
    font-family: 'Silkscreen', cursive;
    font-size: 54px;
  }

  .navbar-menu{
    display: flex;

    li{
      padding: 10px 18px;

      &.current{
        background-color: white;
        color: red;
      }
    }
  }

  .login-menu{
    display: flex;
    li{
      padding: 10px 8px;
    }
  }
}