.main-film-section{
  padding: 40px 20px;
  font-size: 18px;

  .film-type-section{

    padding-block: 0 50px;

    h2{
      text-transform: uppercase;
      background-color: red;
      display: inline;
      padding: 8px 20px;
      color: white;
    }

    .card-container{
      display: flex; 
      overflow-x: auto;

      .card{
        padding: 30px 60px;
        margin-right: 20px;
        margin-block: 20px 15px;
        border: 1px solid red;
        flex-shrink: 0;
        text-align: center;
        width: 500px;

        span{
          display: block;
          text-transform: capitalize;
        }
      }
    }
  }

  
  
}